.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.dmrc
Documents
Downloads
Music
Scripts
Videos
.gnupg
.lesshst
.mozilla
.pki
.shell.pre-oh-my-zsh
.zsh_history
.viminfo
.vscode-oss
.xsession-errors
.xsession-errors.old
.zcompdump*
.zshrc.pre-oh-my-zsh
.oh-my-zsh
.config/chromium
.config/Code - OSS
.config/discord
